body {
  background-color: #312F2C
  font-family: Arial, sans-serif;
  color: #F0EDES;
}

.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #294936;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}
  
